/* 
Author: Bhawna Kumari;
Theme: Food Ordering System;
Version: 1.0;
*/

/* css for all */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
    }

    .text-right{
        text-align: right;
    }

    .clearfix{
        clear: both;
        float: none;
    }

     a{
        color: darkblue;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover{
        color: darkred;
    }
    

/* Css for Navbar Section*/

.logo{
    border: 1px solid black;
    width: 10%;
    float: left;

}

.menu{
    line-height: 70px;
}

.menu ul{
    list-style-type: none;

}
.menu ul li{
    display: inline;
    padding: 1%;
}

/* CSS for Food Section */

.food-search{
    background-image:  url(./assets/bg.jpg);
}

